/* font-family: 'Roboto', sans-serif; */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}
body {
  width: 1920px;
  height: 1080px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}
h4 {
  font-size: 13px;
  color: #2f3b4c;
  font-weight: bold;
}

/* ContainerLeft */
.containerLeft {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  background-color: #e1e5e8;
}
.logo {
  width: 280px;
  height: 50px;
  background-color: #2f3b4c;
  padding-top: 8px;
}
h1 {
  font-size: 27px;
  color: #ffffff;
  margin-left: 27px;
  text-transform: uppercase;
}
.search {
  width: 280px;
  border-bottom: 2px solid #bdc9d1;
  padding: 22px 0 22px 22px;
  display: flex;
}
.search input {
  color: #2f3b4c;
  font-size: 12px;
  width: 220px;
  height: 17px;
  border: none;
  background-color: #e1e5e8;
}
.search input:focus,
.search button:focus {
  outline: 0;
}
.search button {
  display: block;
  border: none;
  background-color: #e1e5e8;
  width: 16px;
  height: 17px;
  cursor: pointer;
}
.status {
  position: relative;
}
.timerLevel {
  width: 75px;
  height: 26px;
  background-color: #80808057;
  position: absolute;
  top: 0;
}
.timer {
  width: 280px;
  height: 26px;
  background-color: #d5d9db;
  display: flex;
  justify-content: space-between;
  padding: 6px 22px;
}
.timer p {
  color: #2f3b4c;
  font-size: 12px;
}
.systemStatus {
  width: 280px;
  height: 50px;
  background-color: #2575aa;
  padding: 15px 18px 0 23px;
  display: flex;
  justify-content: space-between;
}
.systemStatus p {
  text-transform: uppercase;
  font-size: 22px;
  color: #ffffff;
}
.on_off {
  width: 57px;
  height: 24px;
  display: flex;
  justify-content: space-between;
}
.on_off .on,
.on_off .off {
  width: 24px;
  height: 24px;
  position: relative;
  padding-top: 7px;
  cursor: pointer;
}
.on_off p {
  font-size: 8px;
  color: #ffffff;
  text-align: center;
}
.on_off .lamp {
  width: 7px;
  height: 7px;
  margin: 0 auto;
  position: absolute;
  top: -2px;
  left: 9px;
}
.on_off .on .lamp {
  background-color: #1a9022;
}
.on_off .off .lamp {
  background-color: #8c9092;
}

/* containerRigth */

/* HEADER */
.header {
  display: flex;
  justify-content: space-around;
  width: 1640px;
  border-bottom: 1px solid #bfc2c4;
}
menu {
  display: flex;
  flex-basis: 100%;
  padding-left: 16px;
  padding-top: 12px;
}
.burger i {
  font-size: 25px;
  color: #afb0c3;
  cursor: pointer;
}
.burger i:hover {
  color: black;
  text-shadow: 1px 1px 2px #2574a9;
}
.headerMenu ul {
  display: flex;
  width: 543px;
  justify-content: space-between;
  margin-left: 55px;
}
.headerMenu li {
  list-style: none;
  font-size: 17px;
  color: #727272;
  cursor: pointer;
}
.headerMenu li:hover {
  color: black;
  text-shadow: 1px 1px 2px #2574a9;
}
.headerMenu li i {
  margin-left: 10px;
  color: #727272;
}
.rightBlock {
  display: flex;
}
.nikname,
.lang,
.lock {
  border-left: 1px solid #bdc9d1;
  height: 50px;
}
.nikname {
  display: flex;
  padding: 11px 23px 0;
}
.nikname img {
  margin-right: 15px;
  height: 30px;
  width: 30px;
}
.nikname p {
  line-height: 25px;
  font-size: 17px;
  color: #717171;
}
.lang {
  display: flex;
  padding: 11px 17px 0 22px;
  cursor: pointer;
}
.lang p {
  line-height: 25px;
  font-size: 17px;
  color: #717171;
}
.lang i {
  margin-left: 17px;
  line-height: 25px;
  color: #717171;
}
.lang p:hover {
  color: black;
  text-shadow: 1px 1px 2px #2574a9;
}
.lock {
  padding: 11px 26px 0;
}

/* CONTENT */
.content {
  display: flex;
  justify-content: space-between;
}
.wingets {
  width: 225px;
  box-shadow: 5px 0px 6px -3px #bfc2c4;
  position: relative;
  background-color: #f1f3f2;
}
.wingets button {
  position: absolute;
  border: none;
  background-color: white;
  top: 36px;
  right: -13px;
  cursor: pointer;
  width: 30px;
  height: 30px;
  border-radius: 15px;
  box-shadow: 2px 3px 5px 2px #bfc2c4;
}
.wingets button:focus {
  outline: 0;
}
.sampler,
.pump {
  width: 190px;
  height: 190px;
  border: 1px solid #bfc2c4;
  margin: 22px auto 0;
  background-color: #ffff;
}
.wingets .title {
  height: 30px;
  border-bottom: 1px solid #bfc2c4;
  padding-top: 11px;
  padding-left: 7px;
  display: flex;
}
.wingets .lamp {
  width: 11px;
  height: 11px;
  margin-right: 7px;
}
.wingets .sampler .lamp {
  background-color: #1a9022;
}
.wingets .pump .lamp {
  background-color: #f5ad3c;
}
.wingets h3 {
  font-size: 14px;
  color: #2f3b4c;
  line-height: 12px;
  font-weight: bold;
}
.wingets .sampler .cont {
  display: flex;
  justify-content: space-around;
  padding-top: 28px;
}
.wingets .sampler .cont .wrapRight img {
  display: block;
  margin: 8px auto;
}
.wingets .pump .cont {
  padding-top: 35px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.wingets .pump .cont .bottles {
  width: 31px;
}
.wingets .pump .cont .bottles p {
  text-align: center;
  margin-top: -5px;
}
.wingets .pump .cont div:first-child {
  margin-right: 10px;
}
.wingets .pump .cont > img {
  margin-left: 25px;
}
.wingets .pump .cont p {
  font-size: 12px;
  color: #2f3b4c;
  text-align: center;
  margin-top: 20px;
}
.wrap {
  display: flex;
  flex-wrap: wrap;
  padding: 15px 18px 0;
  width: 1415px;
  background-color: #f1f3f2;
}
.wrapMethod {
  width: 1378px;
  height: 489px;
  border: 1px solid #bfc2c4;
  margin-bottom: 15px;
}
.mainChart {
  width: 776px;
  height: 507px;
  border: 1px solid #bfc2c4;
  margin-right: 15px;
  background-color: #ffff;
}
.resultTable {
  width: 587px;
  height: 507px;
  border: 1px solid #bfc2c4;
  background-color: #ffff;
}
.wrap .title {
  height: 45px;
  border-bottom: 2px solid #bfc2c4;
}
.wrap .title h2 {
  text-transform: uppercase;
  font-size: 16px;
  color: #2f3b4c;
  margin-left: 18px;
  line-height: 45px;
  font-weight: bold;
}

.wrapMain {
  display: flex;
}
.wrapMain .liveChart {
  width: 711px;
  padding-top: 11px;
}
.wrapMain .liveChart ul,
.wrapMain .liveChart li {
  display: flex;
}
.wrapMain .liveChart li {
  margin-left: 25px;
}
.wrapMain .liveChart .leg {
  width: 21px;
  height: 10px;
  margin-top: 3px;
}
.wrapMain .liveChart .plot {
  font-size: 14px;
  color: #2f3b4c;
  margin-left: 5px;
  cursor: pointer;
}
.bold {
  font-weight: bold;
}
.wrapMain .liveChart .grid {
  margin-top: 11px;
  margin-left: 25px;
}

.wrapMain .rightBar {
  width: 63px;
  padding-top: 13px;
  padding-left: 9px;
}
.wrapMain .rightBar button {
  display: block;
  width: 46px;
  height: 46px;
  cursor: pointer;
  border: none;
  background-color: #ffff;
  margin-bottom: 10px;
}
.wrapMain .rightBar button:focus {
  outline: 0;
  background-color: #0a0a0a;
}
.wrap .wrapMethod .title {
  display: flex;
  background-color: #ffffff;
}
.wrap .wrapMethod .title .workList {
  border-right: 1px solid #bdc9d1;
  padding-top: 14px;
  background-color: #f1f3f2;
}
.wrap .wrapMethod .title .workList ul {
  display: flex;
  justify-content: space-around;
  width: 425px;
}
.wrap .wrapMethod .title .workList ul li {
  list-style: none;
  font-size: 14px;
  font-weight: bold;
  color: #2f3b4c;
  text-transform: uppercase;
}
.wrap .wrapMethod .title .workList ul li:nth-of-type(2) {
  font-weight: normal;
}
.wrap .wrapMethod .title .workList ul li:nth-of-type(1) span {
  color: #2a77ab;
  margin-left: 15px;
}
.wrap .wrapMethod .title .workList ul li:nth-of-type(2) span {
  font-weight: bold;
  text-transform: lowercase;
  margin-left: 5px;
}
.wrap .wrapMethod .title .method {
  border-right: 1px solid #bdc9d1;
  padding-top: 14px;
}
.wrap .wrapMethod .title .method p {
  font-size: 14px;
  color: #2f3b4c;
  font-weight: bold;
  text-transform: uppercase;
  text-align: center;
  margin: 0 16px;
}
.wrap .wrapMethod .title .method p span {
  text-transform: lowercase;
  font-weight: normal;
  margin-left: 9px;
}
.wrap .wrapMethod .title .singlRun {
  border-right: 1px solid #bdc9d1;
  padding-top: 14px;
  background-color: #f1f3f2;
  width: 173px;
}
.wrap .wrapMethod .title .singlRun p {
  font-size: 14px;
  color: #2f3b4c;
  margin-left: 18px;
  text-transform: uppercase;
}
.wrap .wrapMethod .container {
  display: flex;
}
.wrap .wrapMethod .container .leftBlock {
  height: 388px;
  width: 154px;
  border-right: 1px solid #bfc2c4;
}
.wrap .wrapMethod .container .leftBlock .select {
  background-color: #ffffff;
}
.wrap .wrapMethod .container .leftBlock ul {
  width: 154px;
}
.wrap .wrapMethod .container .leftBlock ul li {
  list-style-type: none;
  height: 38px;
  border-bottom: 1px solid #bfc2c4;
  padding-top: 13px;
  cursor: pointer;
}
.wrap .wrapMethod .container .leftBlock ul li p {
  color: #2f3b4c;
  font-size: 13px;
  margin-left: 17px;
}
.wrap .wrapMethod .container .centerBlock,
.wrap .wrapMethod .container .rightBlock {
  background-color: #ffffff;
  width: 614px;
  height: 388px;
}
.wrap .wrapMethod .container .centerBlock {
  border-right: 1px solid #bfc2c4;
}
.wrap .wrapMethod .container .centerBlock .picture {
  display: flex;
  height: 162px;
  padding-top: 30px;
  padding-left: 50px;
}
.wrap .wrapMethod .container .centerBlock .picture div:nth-of-type(2),
.wrap .wrapMethod .container .centerBlock .picture div:nth-of-type(4) {
  margin-top: 30px;
}
.wrap .wrapMethod .container .centerBlock .picture .data {
  border: 2px solid #bfc2c4;
  padding: 10px;
  height: 87px;
  margin-top: 10px;
  margin-left: 23px;
  margin-bottom: 3px;
}
.wrap .wrapMethod .container .centerBlock .picture .data p {
  color: #2f3b4c;
  text-align: left;
  font-size: 12px;
  margin-bottom: 2px;
}
.wrap .wrapMethod .container .centerBlock .control {
  border-top: 2px solid #bfc2c4;
  position: relative;
  width: 585px;
  height: 155px;
  margin: 0 auto;
}
.wrap .wrapMethod .container .centerBlock .control .on_off {
  display: flex;
  margin-top: 24px;
}
.wrap .wrapMethod .container .centerBlock .control ul {
  display: flex;
  padding-top: 17px;
  flex-wrap: wrap;
  list-style: none;
}
.wrap .wrapMethod .container .centerBlock .control ul li {
  width: 145px;
  margin-bottom: 10px;
  font-size: 12px;
  color: #727272;
  line-height: 25px;
}
.wrap .wrapMethod .container .centerBlock .control .on_off input {
  width: 16px;
  height: 16px;
  margin: 0 9px 0 22px;
  cursor: pointer;
}
.wrap .wrapMethod .container .centerBlock .control .on_off p {
  color: #727272;
  font-size: 12px;
  line-height: 16px;
}
.wrap .wrapMethod .container .centerBlock .control ul li input {
  width: 66px;
  height: 26px;
  border: 1px solid #bfc2c4;
  text-align: center;
  font-size: 11px;
  color: #2f3b4c;
  margin-right: 5px;
}
.wrap .wrapMethod .container .centerBlock .post {
  border-top: 2px solid #bfc2c4;
  position: relative;
  height: 71px;
  margin: 0 12.5px;
  width: 318px;
}
.wrap .wrapMethod .container .centerBlock h4 {
  display: block;
  background-color: #ffffff;
  position: absolute;
  top: -9px;
  height: 15px;
  margin: 0 12px;
  padding: 0 10px;
}
.wrap .wrapMethod .footer {
  height: 54px;
  border-top: 2px solid #bfc2c4;
  background-color: #ffffff;
  display: flex;
  justify-content: space-between;
  padding: 0 15px 0 25px;
}
.wrap .wrapMethod .footer button {
  border: none;
  background-color: #ffffff;
  cursor: pointer;
}
.wrap .wrapMethod .footer button:focus {
  outline: 0;
}
.wrap .wrapMethod .footer .buttonLeft button {
  margin-top: 5px;
  margin-right: 31px;
}
.wrap .wrapMethod .footer .buttonRigth button {
  width: 96px;
  height: 31px;
  margin-top: 10px;
  margin-left: 12px;
  border-radius: 15px;
  border: 2px solid #12a9eb;
  background-color: #12a9eb;
  color: #ffffff;
  font-size: 13px;
  text-align: center;
}
.wrap .wrapMethod .footer .buttonRigth button:last-of-type {
  background-color: #ffffff;
  color: #12a9eb;
}
.wrap .wrapMethod .footer .buttonRigth button:hover {
  font-weight: bold;
  box-shadow: 5px 4px 6px 0px #bfc2c4;
}
