/* font-family: 'Roboto', sans-serif; */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}
body {
  width: 1920px;
  height: 1080px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}

/* ContainerLeft */
.containerLeft {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  background-color: #e1e5e8;
}
.logo {
  width: 280px;
  height: 50px;
  background-color: #2f3b4c;
  padding-top: 8px;
}
h1 {
  font-size: 27px;
  color: #ffffff;
  margin-left: 27px;
  text-transform: uppercase;
}
.search {
  width: 280px;
  border-bottom: 2px solid #bdc9d1;
  padding: 22px 0 22px 22px;
  display: flex;
}
.search input {
  color: #2f3b4c;
  font-size: 12px;
  width: 220px;
  height: 17px;
  border: none;
  background-color: #e1e5e8;
}
.search input:focus,
.search button:focus {
  outline: 0;
}
.search button {
  display: block;
  border: none;
  background-color: #e1e5e8;
  width: 16px;
  height: 17px;
  cursor: pointer;
}
.status {
  position: relative;
}
.timerLevel {
  width: 75px;
  height: 26px;
  background-color: #80808057;
  position: absolute;
  top: 0;
}
.timer {
  width: 280px;
  height: 26px;
  background-color: #d5d9db;
  display: flex;
  justify-content: space-between;
  padding: 6px 22px;
}
.timer p {
  color: #2f3b4c;
  font-size: 12px;
}
.systemStatus {
  width: 280px;
  height: 50px;
  background-color: #2575aa;
  padding: 15px 18px 0 23px;
  display: flex;
  justify-content: space-between;
}
.systemStatus p {
  text-transform: uppercase;
  font-size: 22px;
  color: #ffffff;
}
.on_off {
  width: 57px;
  height: 24px;
  display: flex;
  justify-content: space-between;
}
.on_off .on,
.on_off .off {
  width: 24px;
  height: 24px;
  position: relative;
  padding-top: 7px;
  cursor: pointer;
}
.on_off p {
  font-size: 8px;
  color: #ffffff;
  text-align: center;
}
.on_off .lamp {
  width: 7px;
  height: 7px;
  margin: 0 auto;
  position: absolute;
  top: -2px;
  left: 9px;
}
.on_off .on .lamp {
  background-color: #1a9022;
}
.on_off .off .lamp {
  background-color: #8c9092;
}

/* containerRigth */

/* HEADER */
.header {
  display: flex;
  justify-content: space-around;
  width: 1640px;
  border-bottom: 1px solid #bfc2c4;
}
menu {
  display: flex;
  flex-basis: 100%;
  padding-left: 16px;
  padding-top: 12px;
}
.burger i {
  font-size: 25px;
  color: #afb0c3;
  cursor: pointer;
}
.burger i:hover {
  color: black;
  text-shadow: 1px 1px 2px #2574a9;
}
.headerMenu ul {
  display: flex;
  width: 543px;
  justify-content: space-between;
  margin-left: 55px;
}
.headerMenu li {
  list-style: none;
  font-size: 17px;
  color: #727272;
  cursor: pointer;
}
.headerMenu li:hover {
  color: black;
  text-shadow: 1px 1px 2px #2574a9;
}
.headerMenu li i {
  margin-left: 10px;
  color: #727272;
}
.rightBlock {
  display: flex;
}
.nikname,
.lang,
.lock {
  border-left: 1px solid #bdc9d1;
  height: 50px;
}
.nikname {
  display: flex;
  padding: 11px 23px 0;
}
.nikname img {
  margin-right: 15px;
  height: 30px;
  width: 30px;
}
.nikname p {
  line-height: 25px;
  font-size: 17px;
  color: #717171;
}
.lang {
  display: flex;
  padding: 11px 17px 0 22px;
  cursor: pointer;
}
.lang p {
  line-height: 25px;
  font-size: 17px;
  color: #717171;
}
.lang i {
  margin-left: 17px;
  line-height: 25px;
  color: #717171;
}
.lang p:hover {
  color: black;
  text-shadow: 1px 1px 2px #2574a9;
}
.lock {
  padding: 11px 26px 0;
}

/* CONTENT */
.content {
  display: flex;
  justify-content: space-between;
}
.wingets {
  width: 225px;
  box-shadow: 5px 0px 6px -3px #bfc2c4;
  position: relative;
  background-color: #f1f3f2;
}
.wingets button {
  position: absolute;
  border: none;
  background-color: white;
  top: 36px;
  right: -13px;
  cursor: pointer;
  width: 30px;
  height: 30px;
  border-radius: 15px;
  box-shadow: 2px 3px 5px 2px #bfc2c4;
}
.wingets button:focus {
  outline: 0;
}
.sampler,
.pump {
  width: 190px;
  height: 190px;
  border: 1px solid #bfc2c4;
  margin: 22px auto 0;
}
.wingets .title {
  height: 30px;
  border-bottom: 1px solid #bfc2c4;
  padding-top: 11px;
  padding-left: 7px;
  display: flex;
}
.wingets .lamp {
  width: 11px;
  height: 11px;
  margin-right: 7px;
}
.wingets .sampler .lamp {
  background-color: #1a9022;
}
.wingets .pump .lamp {
  background-color: #f5ad3c;
}
.wingets p {
  font-size: 14px;
  color: #2f3b4c;
  line-height: 12px;
  font-weight: bold;
}
.wingets .sampler .cont {
  display: flex;
  justify-content: space-around;
  padding-top: 28px;
}
.wingets .sampler .cont .wrapRight img {
  display: block;
  margin: 8px auto;
}
.wingets .pump .cont {
  padding-top: 35px;
}
.wingets .pump .cont img:first-child {
  margin-right: 10px;
  margin-left: 20px;
}
.wingets .pump .cont img:last-child {
  margin-left: 25px;
}
.wingets .pump .cont p {
  font-size: 12px;
  color: #2f3b4c;
  text-align: center;
  margin-top: 35px;
}
.wrap {
  display: flex;
  flex-wrap: wrap;
  padding: 15px 18px 0;
  width: 1415px;
  background-color: #f1f3f2;
}
.method {
  width: 1378px;
  height: 489px;
  border: 1px solid #bfc2c4;
  margin-bottom: 15px;
}
.mainChart {
  width: 776px;
  height: 507px;
  border: 1px solid #bfc2c4;
  margin-right: 15px;
}
.resultTable {
  width: 587px;
  height: 507px;
  border: 1px solid #bfc2c4;
}
.wrap .title {
  height: 45px;
  border-bottom: 2px solid #bfc2c4;
}
.wrap .title p {
  text-transform: uppercase;
  font-size: 16px;
  color: #2f3b4c;
  margin-left: 18px;
  line-height: 45px;
  font-weight: bold;
}

.wrapMain {
  display: flex;
}
.wrapMain .liveChart {
  width: 711px;
  padding-top: 11px;
}
.wrapMain .liveChart ul,
.wrapMain .liveChart li {
  display: flex;
}
.wrapMain .liveChart li {
  margin-left: 25px;
}
.wrapMain .liveChart .leg {
  width: 21px;
  height: 10px;
  margin-top: 3px;
}
.wrapMain .liveChart .plot {
  font-size: 14px;
  color: #2f3b4c;
  margin-left: 5px;
  cursor: pointer;
}
.bold {
  font-weight: bold;
}
.wrapMain .liveChart .grid {
  margin-top: 11px;
  margin-left: 25px;
}

.wrapMain .rightBar {
  width: 63px;
  padding-top: 13px;
  padding-left: 9px;
}
.wrapMain .rightBar button {
  display: block;
  width: 46px;
  height: 46px;
  cursor: pointer;
  border: none;
  background-color: none;
  margin-bottom: 10px;
}
.wrapMain .rightBar button:focus {
  outline: 0;
  background-color: #0a0a0a;
}
